// others
.truncate {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.clipped{
	overflow: hidden;
	display: block;
	display: -webkit-box;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
	
	line-height: 1.5;
	position : relative;
	text-overflow: ellipsis;
	padding: 0 !important;

	&::after {
		content    : '...';
		text-align : right;
		bottom     : 0;
		right      : 0;
		width      : 25%;
		display    : block;
		position   : absolute;
		height     : calc(1em * 1.5);
		background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
	}

	&.clip-1 {
		-webkit-line-clamp: 1;
		max-height : calc(1em * 1.5 * 1);
	}
	&.clip-2 {
		-webkit-line-clamp: 2;
		max-height : calc(1em * 1.5 * 2);
	}
	&.clip-3 {
		-webkit-line-clamp: 3;
		max-height : calc(1em * 1.5 * 3);
	}
	&.clip-4 {
		-webkit-line-clamp: 4;
		max-height : calc(1em * 1.5 * 4);
	}
	&.clip-5 {
		-webkit-line-clamp: 5;
		max-height : calc(1em * 1.5 * 5);
	}
}
@supports (-webkit-line-clamp: 1)
{
	.clipped:after
	{
		display : none !important;
	}
}

@media (min-width: 1220px) and (max-width: 1439px) {
	.container {
		max-width: 90%;
	}
}
@media (min-width: 768px) and (max-width: 1219px) {
	.container {
		max-width: 95%;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 90%;
	}
}